.root {
    -fx-background-color: #01579B;
}
.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #0D47A1;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}
.jfx-tab-pane{
    -fx-background-color:white;
}
.jfx-tree-view{
    -fx-background-radius: 20%;
}